body {
    background-color: #444;
    font-family: monospace;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Poiret One Regular';
 
  }
  
  li a:hover {
    color: goldenrod;
  }

