/* :root{
    --bkg-color: rgb(255, 255, 255);
    --bkg-secondary-color: lightgray;
    --text-color: rgb(0, 0, 0);
    --section-header-text: var(--bkg-color);
    --section-header-bkg: rgb(83, 115, 204);
    --link-color: var(--section-header-bkg);
    --link-visited-color: rgb(163, 38, 157);
}

.darkmode{
    --bkg-color: rgb(34, 36, 38);
    --bkg-secondary-color: #444;
    --text-color: rgb(215, 215, 215);
    --section-header-text: var(--bkg-color);
    --section-header-bkg: rgb(68, 218, 181);
    --link-color: var(--section-header-bkg);
    --link-visited-color: violet;
}
*/

body{
    background-image: url(https://64.media.tumblr.com/69d0a2d565a88abe98566175f70b08f6/edaac017812ea18b-38/s2048x3072/f4032faaa0330f1599cd69f783b44acc4c939c83.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-weight: 500;
}

h2{
    font-weight: 100;
    font-size: 1.5em;
    margin-top: .25em;
}

h3{
    font-weight: 300;
}

p{
    font-weight: 200;
    font-size: .9em;
}

a{
    color: dodgerblue;
}

a:visited{
    color: violet;
}


#body-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: 70vh;
}

.infobox{
    border: 1px solid white;
    border-radius: 3px;
    background: rgba(10, 11, 17, 0.479);
    backdrop-filter: blur(5px);
    padding: 1em;
}

.sidebar-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 20vw;
}

#about{
    flex: 1;
}

#contact{
    flex: 1;
}

#work-exp{
    flex: 2;
}

#projects{
    flex: 4;
}

#etc{
    flex: 2;
}

#cardholder{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.card{
    border: 1px solid white;
    border-radius: 3px;
    padding: .5em;
    flex: 1;
}

.card .title{
    font-size: 1.25em;
    margin: 0px;
}

.skills{
    font-style: italic;
}
