/* CUSTOM FONTS */
@font-face {
  font-family: Beyonders-Italic;
  src: url(fonts/Beyonders-Italic.ttf);
}

@font-face{
  font-family: TechnoSphere;
  src: url(fonts/TechnoSphere.ttf);
}

@font-face{
  font-family: Averox;
  src: url(fonts/averox.ttf);
}

@font-face{
  font-family: Exodar;
  src: url(fonts/exodar.ttf);
}

@font-face{
  font-family: Pineon;
  src: url(fonts/PINEON.ttf);
}

@font-face{
  font-family: Nebula-Hollow;
  src: url(fonts/Nebula-Hollow.otf);
}

@font-face{
  font-family: Nebula-Regular;
  src: url(fonts/Nebula-Regular.otf);
}

@font-face{
  font-family: Cargo-8th;
  src: url(fonts/8th-Cargo.ttf);
}

@font-face{
  font-family: Astera;
  src: url(fonts/ASTERA.ttf);
}

@font-face{
  font-family: M-Plus-Code;
  src: url(fonts/M-Plus-Code.ttf);
}

@font-face{
  font-family: Nexa-ExtraLight;
  src: url(fonts/Nexa-ExtraLight.ttf);
}

@font-face{
  font-family: Nexa-Heavy;
  src: url(fonts/Nexa-Heavy.ttf);
}

@font-face{
  font-family: LEMONMILK-LIGHT;
  src: url(fonts/LEMONMILK-Light.otf);
}

body {
  scroll-behavior:smooth;
  background-color: black;
}

footer {
  background-color: #212529;
  color: white;
  padding: 15px;
}

/* Custom Cursor Highligh Color */
::selection {
  color: black;
  background-color: rgb(0, 255, 170);
}

/* === COLOR SCHEMES FOR SECTIONS === */
#title{
  color: white;
  background-image: url(images/another-fuzzy-bkg-dark.png);
  background-repeat:no-repeat;
  background-size:cover;
}

#skills{
  color: whitesmoke;
  background-color: #212225;
}

#research{
  color: whitesmoke;
  background-image: url(images/split-bkg.png);
}

#projects{
  color: white;
  background-image: url(images/black-holog.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-blend-mode:color-dodge;
}

#presentations{
  color:#EEE;
  background-color:#171718;
}

#about{
  color: white;
  background-color: #212529;
}

#contact{
  color: white;
  background-color:#0b0b0f;
}

/* Fixed Skill Icon Size */
.skill-img {
  width: 125px;
  height: 125px;
  border-radius: 15px;
  filter:contrast(75%);
}

/* === Dot Navbar === */
.dot-navbar {
  position: fixed;
  top: 50%;
  right: 5vw;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dot {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, .2);
  border: 2px solid rgba(255, 255, 255, .7);
  border-radius: 50%;
  display: block;
  transition: background-color 0.3s;
}
.dot.active {
  border: 4px solid white;
}

.card-img-top{
  max-height:18rem;
  max-width:18rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  filter:grayscale(70%) brightness(150%);
}

.project-card{
  height:600px;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter:blur(5px);
  border-radius: 10px;
  border: 2px solid rgba( 255, 255, 255, 0.18 );
}

.project-card:hover{
  background-color:rgba(100, 100, 100, .1);
}

.tag {
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter:blur(5px);
  border-radius: 15px;
  padding: 3px 7px;
  display:flexbox;
}

.present-card{
  border-radius: 10px;
  background-color: #2A2A2A;
  border: 1px solid #999;
}

.present-img{
  width:140px;
  height:140px;
  border-radius: 10px;
}

.research-text{
  font-size:1.5em;
}

.poster-btn{
  width:fit-content;
}

#slim-div{
  width:40%;
}

.contact-card{
  width: 20%;
  margin: auto;
  background-color:#212529;
  border: 1px solid #555555;
}

.social-links{
  margin-left: 20px;
  margin-right: 20px;
}

.social-links:hover{
  filter:invert(25%);
}

.selfpic{
  border-radius:200px;
  border: 2px solid ghostwhite;
  float:left;
  margin-left:300px;
  margin-right:100px;
}

.my-bio{
  text-align:left;
  padding-right:300px;
  font-size:large;
}